/* Dependencies
   ========================================================================== */
@import "../node_modules/normalize.css/normalize";

/* Variables
   ========================================================================== */
@import "variables/colors";
@import "variables/fonts";
@import "variables/sizes";
@import "variables/mixins";

/* Global
   ========================================================================== */
@import "global/base";
@import "global/fonts";
@import "global/buttons";

/* Modules
   ========================================================================== */
@import "modules/header";
@import "modules/main";
@import "modules/hero";
@import "modules/inspiration";
@import "modules/organize";
@import "modules/control";
@import "modules/install";
@import "modules/contribute";
@import "modules/peak";
@import "modules/footer";
