$chetwode-blue: #7b80de;
$snuff: #d7d7ed;
$gull-gray: #92a4b1;
$outer-space: #31383c;
$regent-gray: #8598a5;
$rhino: #313a68;
$shark: #1d1f21;
$white: #ffffff;
$wewak: #f3a0a7;
$violet-red: #f72b86;
$catskill-white: #f2f6f9;
$bali-hai: #8fa0ac;
