html,
body {
    color: $shark;
    background-color: $white;
    font-family: $font-roboto;
}

html,
body {
    overflow-y: scroll;
    overflow-x: hidden;
}
@include for-desktop-up {
    body {
        overflow: visible;
    }
}

body {
    .body-shape {
        display: block;
        position: absolute;
        top: calc(-#{$body-background-height} + 400px);
        left: 0;
        height: $body-background-height;
        width: 100%;
        background: $shark;
        transition: all 300ms;
        pointer-events: none;
        user-select: none;
        z-index: 1;
    }

    @include for-desktop-up {
        margin: 0 auto;
        max-width: 1180px;

        .body-shape {
            top: calc(-#{$body-background-height} + 680px);
            left: calc(50% - #{$body-background-width / 2});
            width: $body-background-width;
            transform-origin: bottom center;
            transform: rotate(-30deg);
        }
    }
    @include for-mid-desktop-up {
        max-width: 1380px;

        .body-shape {
            top: calc(-#{$body-background-height} + 765px);
        }
    }
    @include for-big-desktop-up {
        max-width: 1522px;

        .body-shape {
            top: calc(-#{$body-background-height} + 875px);
        }
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

svg {
    pointer-events: none;
}
