.button--give-a-try {
    position: relative;
    display: inline-block;
    background-color: $violet-red;
    color: $white;
    padding: 22px 80px;
    font-family: $font-montserrat;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    white-space: nowrap;
    box-shadow: 0 5px 50px rgba($violet-red, 0.7);
    transition: background-color 150ms, box-shadow 150ms;

    @include for-desktop-up {
        font-size: 16px;
        padding: 20px 80px;
        box-shadow: 0 0 87px rgba($violet-red, 0.75);
    }

    &:focus {
        outline: none;
    }

    &:hover {
        background-color: #ff3d94;
        box-shadow: 0 0 87px rgba($violet-red, 1);

        .button--give-a-try--item-arrow {
            right: 35px;
            opacity: 0.6;
        }
    }
}

.button--give-a-try--item-arrow {
    position: absolute;
    top: 50%;
    right: 55px;
    width: 13px;
    transform: translate(0, -52%);
    opacity: 0;
    transition: right 350ms cubic-bezier(0, 0.69, 0.19, 1), opacity 350ms cubic-bezier(0, 0.69, 0.19, 1);
}
