.button--give-a-try {
    display: inline-block;
    background-color: $violet-red;
    color: $white;
    padding: 18px 80px;
    font-family: $font-montserrat;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 5px 50px rgba($violet-red, 0.7);

    @include for-desktop-up {
        font-size: 16px;
        padding: 25px 80px;
        box-shadow: 0 0 87px rgba($violet-red, 0.75);
    }
}
