.m-control {
    text-align: center;
}

.m-control--title {
    margin-bottom: 20px;
}

.m-control--text {
    width: 600px;
    margin: 0 auto;
}

.m-control--columns {
    display: flex;
    text-align: left;
    margin: 80px 185px;
}

.m-control--column {
    padding: 50px 84px 30px;

    strong {
        font-family: $font-montserrat;
    }
    p {
        color: $bali-hai;
        line-height: 28px;
        margin: 10px 0 20px;
    }
}

.m-control--column-interface-storage {
    margin-right: 90px;
    padding-top: 80px;
    padding-right: 0;

    .m-control--block + .m-control--block {
        margin-top: 100px;
    }
}

.m-control--column-likely {
    margin-left: 90px;
    background-color: $catskill-white;
    border-radius: $border-radius;

    .m-control--column-title {
        display: block;
        color: rgba($chetwode-blue, 0.8);
        font-family: $font-montserrat;
        font-size: 12px;
        margin-bottom: 30px;
    }

    .m-control--block {
        margin-bottom: 40px;
    }

    p {
        font-size: 14px;
        line-height: 24px;
    }
}

.m-control--block-title {
    font-family: $font-montserrat;
}

.m-control--icon {
    width: 24px;
    vertical-align: bottom;
    margin-right: 5px;
    opacity: 0.7;
    margin-left: -3px;
}

.m-control--dots {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        margin-right: 30px;
        font-size: 14px;
        font-family: $font-montserrat;

        svg {
            float: left;
            width: 6px;
            margin-right: 10px;
            transform: translateY(3px);
        }
    }
}
