.m-hero {
    position: relative;
    color: $white;
    padding: 0 25px;
    z-index: 2;

    @include for-desktop-up {
        width: 700px;
        padding: 0 0 0 180px;
    }
}

.m-hero--title {
    font-family: $font-cocogoose;
    font-size: 40px;
    font-weight: normal;
    line-height: 50px;

    @include for-desktop-up {
        font-size: 60px;
        line-height: 80px;
        margin: 30px 0 0;
    }

    @include for-mid-desktop-up {
        font-size: 70px;
        line-height: 95px;
        margin: 50px 0 0;
    }

    @include for-big-desktop-up {
        font-size: 80px;
        line-height: 112px;
        margin: 80px 0 0;
    }
}

.m-hero--subtitle {
    max-width: 220px;
    font-size: 16px;
    line-height: 25px;
    margin: 25px 0 30px;
    animation: heroSlideUp 1.85s cubic-bezier(0, 0.69, 0.19, 1);

    @include for-desktop-up {
        max-width: inherit;
        font-size: 14px;
        margin: 20px 0 35px;
    }

    @include for-mid-desktop-up {
        font-size: 16px;
        margin: 25px 0 40px;
    }
}

.m-hero--button {
    animation: heroSlideUp 1.9s cubic-bezier(0, 0.69, 0.19, 1);
}

.m-hero--title-line {
    display: block;
    overflow: hidden;
}

.m-hero--title-line-inner {
    display: block;
}

.m-hero--title-line-one .m-hero--title-line-inner {
    animation: heroTitleSlideIn 1.5s cubic-bezier(0, 0.69, 0.19, 1);
}
.m-hero--title-line-two .m-hero--title-line-inner {
    animation: heroTitleSlideIn 1.8s cubic-bezier(0, 0.69, 0.19, 1);
}
.m-hero--title-line-three .m-hero--title-line-inner {
    animation: heroTitleSlideIn 2s cubic-bezier(0, 0.69, 0.19, 1);
}

.m-hero--shapes {
    position: relative;
    height: 55vw;

    @include for-tablet-landscape-up {
        height: auto;
    }
}

.m-hero--shape-under {
    position: absolute;
    top: -65vw;
    left: 20%;
    width: 150%;
    animation: shapeUnderSlideIn 1.2s cubic-bezier(0, 0.69, 0.19, 1);

    @include for-desktop-up {
        top: -435px;
        left: 670px;
        width: 900px;
    }
    @include for-mid-desktop-up {
        top: -430px;
        left: 830px;
    }
    @include for-big-desktop-up {
        top: -400px;
        left: 920px;
    }
}

.m-hero--shape {
    position: relative;
    z-index: 1;
    width: 220%;
    margin: -112vw 0 0 50%;
    transform: translateX(-50%);

    @include for-desktop-up {
        width: 100%;
        margin: -470px 100px -335px 0;
        transform: none;
    }
    @include for-mid-desktop-up {
        margin-top: -560px;
    }
    @include for-big-desktop-up {
        margin-top: -600px;
    }
}

@keyframes shapeUnderSlideIn {
    0%,
    45% {
        opacity: 0;
        transform: translate(-700px, 350px);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes heroTitleSlideIn {
    0%,
    55% {
        transform: translateY(110px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes heroSlideUp {
    0%,
    55% {
        opacity: 0;
        transform: translateY(70px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
