.m-hero {
    position: relative;
    color: $white;
    padding: 0 25px;
    z-index: 2;

    @include for-tablet-portrait-up {
        padding: 50px 50px 0;
    }
    @include for-desktop-up {
        width: 700px;
        padding: 0 0 0 180px;
    }
}

.m-hero--title {
    font-family: $font-cocogoose;
    font-size: 40px;
    font-weight: normal;
    line-height: 50px;

    @include for-tablet-portrait-up {
        font-size: 60px;
        line-height: 80px;
        margin: 30px 0 0;
    }
    @include for-mid-desktop-up {
        font-size: 70px;
        line-height: 95px;
        margin: 50px 0 0;
    }
    @include for-big-desktop-up {
        font-size: 80px;
        line-height: 112px;
        margin: 80px 0 0;
    }
}

.m-hero--subtitle {
    max-width: 400px;
    font-size: 16px;
    line-height: 25px;
    margin: 25px 0 30px;
    animation: heroSlideUp 1.85s cubic-bezier(0, 0.69, 0.19, 1);

    @include for-tablet-portrait-up {
        font-size: 16px;
        margin: 25px 0 35px;
    }
    @include for-desktop-up {
        max-width: inherit;
        font-size: 14px;
        line-height: 28px;
        margin: 20px 0 35px;
    }
    @include for-mid-desktop-up {
        font-size: 16px;
        margin: 25px 0 40px;
    }
}

.m-hero--form {
    max-width: 400px;
    animation: heroSlideUp 1.9s cubic-bezier(0, 0.69, 0.19, 1);

    @include for-desktop-up {
        display: flex;
        max-width: 530px;
    }
}

.m-hero--form-sentence {
    line-height: 25px;
    margin-bottom: 20px;
    animation: heroSlideUp 1.9s cubic-bezier(0, 0.69, 0.19, 1);
}

.m-hero--form-input {
    position: relative;
    height: 60px;
    margin-bottom: 15px;

    @include for-desktop-up {
        margin-right: 20px;
        margin-bottom: 0;
    }

    input {
        height: 100%;
        width: 100%;
        font-family: $font-montserrat;
        color: $regent-gray;
        background: $shark;
        padding: 0 100px 0 70px;
        border-radius: 60px;
        border: none;
        background: $white;

        &.m-hero--form-input__filled,
        &:focus {
            outline: none;

            & ~ label {
                opacity: 0;
            }

            & ~ .m-hero--form-input-icon {
                fill: $violet-red;
            }
        }

        & ~ .m-hero--form-input-icon-error {
            display: none;
        }

        &.m-hero--form-input__filled:invalid {
            color: #f72b3e;
        }

        &.m-hero--form-input__filled:invalid ~ .m-hero--form-input-icon-mail {
            display: none;
        }
        &.m-hero--form-input__filled:invalid ~ .m-hero--form-input-icon-error {
            display: block;
        }
    }

    label {
        position: absolute;
        top: 0;
        left: 70px;
        line-height: 62px;
        color: $regent-gray;
        font-family: $font-montserrat;
        font-size: 14px;
        pointer-events: none;
    }
}

.m-hero--form-input-icon {
    position: absolute;
    top: 25px;
    left: 37px;
    width: 18px;
    height: 12px;
    fill: $regent-gray;
    color: $regent-gray;
}

.m-hero--form-input-icon-success {
    display: none;
}

.m-hero--form-input-email {
    z-index: 4;

    @include for-desktop-up {
        width: 400px;
    }
}

.m-hero--form-button {
    width: 100%;

    @include for-desktop-up {
        width: auto;
        margin-left: -100px;
        z-index: 4;
    }
}

.m-hero--title-line {
    display: block;
    overflow: hidden;
}

.m-hero--title-line-inner {
    display: block;
}

.m-hero--title-line-one .m-hero--title-line-inner {
    animation: heroTitleSlideIn 1.5s cubic-bezier(0, 0.69, 0.19, 1);
}

.m-hero--title-line-two .m-hero--title-line-inner {
    animation: heroTitleSlideIn 1.8s cubic-bezier(0, 0.69, 0.19, 1);
}

.m-hero--title-line-three .m-hero--title-line-inner {
    animation: heroTitleSlideIn 2s cubic-bezier(0, 0.69, 0.19, 1);
}

.m-hero--shapes {
    position: relative;
    height: 85vw;

    @include for-tablet-portrait-up {
        height: 63vw;
    }
    @media (min-width: 750px) {
        height: 55vw;
    }
    @include for-tablet-landscape-up {
        height: auto;
    }
}

.m-hero--shape-under {
    position: absolute;
    top: -65vw;
    left: 20%;
    width: 150%;
    animation: shapeUnderSlideIn 1.2s cubic-bezier(0, 0.69, 0.19, 1);

    @include for-tablet-portrait-up {
        top: -55vw;
        left: 30%;
        width: 100%;
    }
    @include for-tablet-landscape-up {
        top: -60vw;
        left: 50%;
    }
    @include for-desktop-up {
        top: -455px;
        left: 670px;
        width: 900px;
    }
    @include for-mid-desktop-up {
        top: -450px;
        left: 830px;
    }
    @include for-big-desktop-up {
        top: -430px;
        left: 920px;
    }
}

.m-hero--shape {
    position: relative;
    z-index: 1;
    width: 220%;
    margin: -112vw 0 0 50%;
    transform: translateX(-50%);

    @include for-tablet-portrait-up {
        width: calc(100% + 50px);
        margin: 0 0 -335px -25px;
        transform: translateY(-350px);
    }
    @media (min-width: 750px) {
        transform: translateY(-400px);
    }
    @include for-tablet-landscape-up {
        margin: -440px 0 0 -25px;
        transform: none;
    }
    @include for-desktop-up {
        width: 100%;
        margin: -490px 100px -335px 0;
    }
    @include for-mid-desktop-up {
        margin-top: -580px;
    }
    @include for-big-desktop-up {
        margin-top: -620px;
    }
}

@keyframes shapeUnderSlideIn {
    0%,
    45% {
        opacity: 0;
        transform: translate(-700px, 350px);
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes heroTitleSlideIn {
    0%,
    55% {
        transform: translateY(110px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes heroSlideUp {
    0%,
    55% {
        opacity: 0;
        transform: translateY(70px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
