.m-install--shape-under {
    position: absolute;
    margin-top: 100px;
    left: -65%;
    width: 150%;

    @include for-tablet-landscape-up {
        margin-top: 200px;
    }
    @include for-desktop-up {
        margin-top: 17%;
        left: -10%;
        width: 50%;
    }
    @include for-mid-desktop-up {
        margin-top: 12%;
    }
}

.m-install--ui {
    display: none;

    @include for-desktop-up {
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 40px 270px 0;
        width: 1522px;

        img {
            width: 100%;
            box-shadow: 0 5px 29px rgba($shark, 0.25);
        }
    }
}

.m-install--background-wrapper {
    margin-top: -55px;

    @include for-tablet-portrait-up {
        margin-top: 0;
    }
    @include for-tablet-landscape-up {
        margin-top: -200px;
    }
    @include for-desktop-up {
        margin-top: 200px;
    }
}

.m-install--background-inner {
    position: relative;
    padding-top: 1px;

    @include for-tablet-landscape-up {
        padding-top: 200px;
    }
    @include for-desktop-up {
        padding-top: 1px;
    }
}

$footer-height: 1000px;
.m-install--background-shapes {
    position: absolute;
    left: 0;
    right: 0;
    overflow: hidden;
    height: calc(24vw + #{$footer-height});

    @include for-tablet-landscape-up {
        height: calc(24vw + #{$footer-height * 2});
    }
    @include for-desktop-up {
        height: calc(24vw + #{$footer-height * 1.2});
    }
}

.m-install--background-shape-left {
    position: absolute;
    left: -50px;
    bottom: #{-3450px + $footer-height};
    margin-bottom: -20px;
    width: 1847px;

    @include for-tablet-landscape-up {
        bottom: #{-3600px + $footer-height * 2};
    }
    @include for-desktop-up {
        bottom: #{-3450px + $footer-height * 1.2};
        left: 0;
        margin-bottom: 0;
    }
}

.m-install--background-shape-right {
    display: none;

    @include for-desktop-up {
        display: block;
        position: absolute;
        right: 0;
        bottom: #{-1220px + $footer-height * 1.2};
        width: 1317px;
    }
}

.m-install--background-shape-left-mask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @include for-desktop-up {
        width: calc(50% + 400px);
    }
}

.m-install--background-shape-right-mask {
    position: absolute;
    bottom: 0;
    right: 0;
    width: calc(50% - 400px);
    height: 100%;
    overflow: hidden;
}

.m-install {
    position: relative;
    text-align: center;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;

    @include for-desktop-up {
        position: absolute;
        top: -120px;
        right: 100px;
        width: 400px;
        max-width: inherit;
    }

    @include for-mid-desktop-up {
        right: 185px;
    }
}

.m-install--icon {
    display: block;
    width: 34px;
    height: 34px;
    margin: 65px auto 15px;

    @include for-tablet-portrait-up {
        margin: 50px auto 25px;
    }
}
.m-install--title {
    display: block;
    font-family: $font-montserrat;
    font-size: 16px;
    line-height: 20px;

    @include for-tablet-portrait-up {
        font-size: 20px;
        line-height: 24px;
    }
}
.m-install--content {
    color: $white;
    font-size: 14px;
    line-height: 20px;
    margin-top: 5px;
    padding: 5px 50px 20px;

    @include for-tablet-portrait-up {
        margin-top: 10px;
        font-size: 16px;
        line-height: 24px;
    }
}
.m-install--button {
    display: none;

    @include for-desktop-up {
        position: relative;
        display: block;
        text-decoration: none;
        font-family: $font-montserrat;
        color: $shark;
        background: $white;
        width: 234px;
        padding: 22px 0;
        margin: 0 auto;
        border-radius: 100px;
        box-shadow: 0 10px 60px rgba($rhino, 0.5);
        transition: box-shadow 350ms;

        &:hover {
            box-shadow: 0 10px 60px rgba($rhino, 0.8);

            .m-install--arrow {
                right: 25px;
            }
        }
    }
}
.m-install--arrow {
    position: absolute;
    top: 50%;
    right: 35px;
    width: 10px;
    opacity: 0.4;
    transform: translate(0, -55%);
    transition: right 350ms cubic-bezier(0, 0.69, 0.19, 1);
}

.m-install--hexagonal-inner {
    position: absolute;
    top: 0;
    left: 0;
}
