@include for-desktop-up {
    .m-inspiration {
        position: relative;
        margin: 0 180px 580px 854px;
        animation: inspirationFadeIn 2.5s;
    }
    .m-inspiration--text-wrapper {
        width: 400px;
    }
}

.m-inspiration--elements-outer {
    width: 100vw;
    margin-left: -20px;
    padding: 0 20px 20px;
    overflow: auto;
}
@include for-phone-only {
    .m-inspiration--elements {
        display: flex;
        width: calc(((65vw + 10px) * 4) + 10px);
    }
}

.m-inspiration--element {
    width: 65vw;
    padding: 20px;
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: 0 12px 29px rgba($snuff, 0.8);
    margin: 18px 10px 18px 0;

    @include for-desktop-up {
        position: absolute;
        width: 238px;
        margin: 18px 18px 18px 0;
    }
}
.m-inspiration--element-icon {
    width: 30px;
    height: 30px;
    margin-right: 7px;
}
.m-inspiration--element-name {
    display: inline-block;
    height: 32px;
    font-family: $font-montserrat;
    font-size: 14px;
    line-height: 32px;
    color: $chetwode-blue;
    vertical-align: top;
}
.m-inspiration--element-description {
    font-size: 16px;
    line-height: 28px;
    margin: 5px 0 0;
}

@keyframes inspirationFadeIn {
    0%,
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include for-desktop-up {
    .m-inspiration--element-picture {
        top: 278px;
        left: -597px;
    }
    .m-inspiration--element-note {
        top: 155px;
        left: -340px;
    }
    .m-inspiration--element-link {
        top: 425px;
        left: -340px;
    }
    .m-inspiration--element-color {
        top: 480px;
        left: -85px;
    }

    .m-inspiration--element-outline {
        position: absolute;
        width: 238px;
    }

    .m-inspiration--element-outline-feed {
        top: -89px;
        left: -597px;
    }

    .m-inspiration--element-outline-site {
        top: -191px;
        left: -341px;
    }

    .m-inspiration--element-outline-link {
        top: 680px;
        left: -85px;
    }

    .m-inspiration--element-outline-color {
        top: 820px;
        left: -85px;
    }

    .m-inspiration--element-outline-text {
        top: 757px;
        left: 172px;
    }
}
