.m-peak {
    position: relative;
    margin: 0;
    padding: 0 20px 50px;
    background: $shark;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        margin: -50px auto 50px;
        max-width: calc(420px + ((100% - 420px)/ 2));
        background: #282a2d;

        @include for-desktop-up {
            max-width: inherit;
        }
    }

    @include for-tablet-landscape-up {
        margin: 100px 185px 0;
        padding: 0;

        &::before {
            display: none;
        }
    }

    @include for-mid-desktop-up {
        margin: 100px 270px 0;
    }
}

.m-peak--title {
    display: block;
    font-family: $font-cocogoose;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: $white;

    @include for-tablet-landscape-up {
        font-size: 54px;
    }
}

.m-peak--text {
    color: $shuttle-gray;
    max-width: 410px;
    margin: 30px auto;
    text-align: center;
    line-height: 28px;

    a {
        color: $white;
        text-decoration: none;
        border-bottom: 2px solid $chetwode-blue;
        padding-bottom: 5px;
        transition: color 150ms;

        &:hover {
            color: $chetwode-blue;
        }
    }

    .desktop-only {
        display: none;
    }

    @include for-tablet-landscape-up {
        max-width: 540px;

        .desktop-only {
            display: inline;
        }
    }
}

.m-peak--form {
    max-width: 410px;
    margin: 35px auto;

    @include for-tablet-landscape-up {
        display: flex;
        margin: 70px 0 0;
        max-width: inherit;
    }
}

.m-peak--form-input {
    position: relative;
    height: 60px;
    margin-bottom: 15px;

    @include for-tablet-landscape-up {
        margin-right: 20px;
        margin-bottom: 0;
    }

    input {
        height: 100%;
        width: 100%;
        font-family: $font-montserrat;
        color: $white;
        background: $shark;
        padding: 0 30px 0 70px;
        border: 2px solid $abbey;
        border-radius: 60px;

        &.m-peak--form-input__filled,
        &:focus {
            border-color: $chetwode-blue;
            outline: none;

            & ~ label {
                opacity: 0;
            }

            & ~ .m-peak--form-input-icon {
                fill: $chetwode-blue;
            }
        }
    }

    label {
        position: absolute;
        top: 0;
        left: 70px;
        line-height: 62px;
        color: $white;
        font-family: $font-montserrat;
        font-size: 14px;
        pointer-events: none;
    }
}

.m-peak--form-input-icon {
    position: absolute;
    top: 25px;
    left: 37px;
    width: 18px;
    fill: $abbey;
}

.m-peak--form-input-email {
    z-index: 4;

    @include for-tablet-landscape-up {
        width: 400px;
    }
}

.m-peak--form-input-password {
    z-index: 4;

    @include for-tablet-landscape-up {
        width: 320px;
    }
}

.m-peak--form-button {
    border: none;
    cursor: pointer;
    height: 60px;
    padding: 20px 0;
    margin-top: 15px;
    width: 100%;
    z-index: 3;

    &:focus {
        outline: none;
    }

    @include for-tablet-landscape-up {
        margin-top: 0;
        width: 230px;
    }
}
