.m-peak {
    position: relative;
    margin: 50px 0 0;
    padding: 0 20px 50px;

    @include for-desktop-up {
        margin: 400px 185px 0;
        padding: 0;
    }

    @include for-mid-desktop-up {
        margin: 400px 270px 0;
    }
}

.m-peak--title {
    display: block;
    font-family: $font-cocogoose;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: $white;

    @include for-desktop-up {
        font-size: 54px;
    }
}

.m-peak--text {
    color: $shuttle-gray;
    max-width: 410px;
    margin: 15px auto 30px;
    text-align: center;
    line-height: 28px;

    a {
        color: $white;
        text-decoration: none;
        border-bottom: 2px solid $chetwode-blue;
        padding-bottom: 5px;
        transition: border-bottom-color 150ms;

        &:hover {
            border-bottom-color: $violet-red;
        }
    }

    .desktop-only {
        display: none;
    }

    @include for-desktop-up {
        max-width: 540px;

        .desktop-only {
            display: inline;
        }
    }
}

.m-peak--form {
    max-width: 540px;
    margin: 35px auto;

    @include for-desktop-up {
        display: flex;
        margin: 70px auto 0;
    }
}

.m-peak--form-input {
    position: relative;
    height: 60px;
    margin-bottom: 15px;

    @include for-desktop-up {
        margin-right: 20px;
        margin-bottom: 0;
    }

    input {
        height: 100%;
        width: 100%;
        font-family: $font-montserrat;
        color: $regent-gray;
        background: $shark;
        padding: 0 100px 0 70px;
        border-radius: 60px;
        border: none;
        background: $white;

        &.m-peak--form-input__filled,
        &:focus {
            outline: none;

            & ~ label {
                opacity: 0;
            }

            & ~ .m-peak--form-input-icon {
                fill: $violet-red;
            }
        }

        & ~ .m-peak--form-input-icon-error {
            display: none;
            top: 21px;
            color: #f72b3e;
        }

        &.m-peak--form-input__filled:invalid {
            color: #f72b3e;
        }

        &.m-peak--form-input__filled:invalid ~ .m-peak--form-input-icon-mail {
            display: none;
        }
        &.m-peak--form-input__filled:invalid ~ .m-peak--form-input-icon-error {
            display: block;
        }
    }

    label {
        position: absolute;
        top: 0;
        left: 70px;
        line-height: 62px;
        color: $regent-gray;
        font-family: $font-montserrat;
        font-size: 14px;
        pointer-events: none;
    }
}

.m-peak--form-input-icon {
    position: absolute;
    top: 25px;
    left: 37px;
    width: 18px;
    fill: $regent-gray;
}

.m-peak--form-input-email {
    z-index: 4;

    @include for-desktop-up {
        width: 400px;
    }
}

.m-peak--form-button {
    margin-top: 15px;
    width: 100%;
    z-index: 5;

    @include for-desktop-up {
        margin-top: 0;
        margin-left: -100px;
        width: 240px;
    }
}
